# Arquivo .editorconfig da raiz
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
indent_style = space
indent_size = 2

# Configurações específicas do Backend (PHP)
[backend/**.php]
indent_style = space
indent_size = 4

# Configurações específicas do Frontend (TS/JS/CSS)
[frontend/src/**.{js,ts,tsx,css}]
indent_style = space
indent_size = 2